In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("Market_Basket_Optimisation.csv",header=None)

In [7]:
data.head()
#this is convenor store from dataset owner want to see the association between the various products so that he can place
#them in nearly(most frequently bought together like milk and bread are generally put together in grocery stores)

#data contains the products in the basket purchased by the customers

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#apriori algorithm takes list of list so 
transactions = []
for i in range(0,len(data)):
    transactions.append(str([data.values[i,j] for j in range(0,len(data.columns))]))

In [20]:
transactions[2]

"['chutney', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]"

In [5]:
transactions[1]

"['burgers', 'meatballs', 'eggs', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]"

In [6]:
from apyori import apriori

In [24]:
rules = apriori(transactions,min_support=0.003,min_confidence=0.2,min_lift=3,min_length=2)
#these values are used in order to prevent optimise and prevent the obvious
#min_support = no' of people in favour/total number of people
#min_confidence used as the association between the two products
#min_lift is confidence/support
#min_length we are analysing the association bw the two products

In [ ]:
results = list(rules)

In [ ]:
results